.period {
  font-weight: var(--weight-regular);
  color: var(--color-text-secondary);
}

.secondary {
  font-size: var(--text-xs);
  font-weight: var(--weight-regular);
  color: var(--color-text-secondary);
}
